<li>
  {{burgerName}}
  <button class="changeStatus" data-id="{{id}}" data-neweats="{{devoured}}">
    {{#if devoured}}IT WAS DELICIOUS{{else}}NEVER TRIED THAT{{/if}}
  </button>

  <button class="deleteButton" data-burgerID="{{id}}">DELETE</button>
</li>