<li class="burgerblock">
  {{burgerName}}
  <button class="changeStatus btn btn-primary" data-id="{{id}}" data-neweats="{{devoured}}">
    {{#if devoured}}IT WAS DELICIOUS!{{else}}NEVER TRIED THAT{{/if}}
  </button>

  <button class="deleteButton btn btn-danger" data-burgerID="{{id}}">DELETE</button>
</li>